.body {
  background-repeat: no-repeat;
  background-image: url("./img/Background.jpg");
  background-color: #e6e7e9;
  background-size: 70vw, 70vh;
  width: 100%;
  height: 100%;
}

.body-transparent {
  background-repeat: no-repeat;
  background-image: url("./img/Background2.png");
  background-color: #f6f7f7;
  background-size: 70vw, 70vh;
  width: 100%;
  height: 100%;
}

/*-------------------------------------------*/
/*Login.js*/
.titleDiv {
  height: 400px;
  width: 100%;
  align-items: center;
  justify-content: right;
  display: flex;
}

.titleText {
  font-size: 120px;
  font-weight: 600;
  color: #707070;
  font-family: Serif;
  position: absolute;
  right: 5%;
}

.loginDiv {
  height: 70%;
  width: 100%;
  align-items: center;
  justify-content: right;
  flex-direction: column;
  display: flex;
}

.loginDivForm {
  position: absolute;
  right: 5%;
}

.textLoginForm {
  color: #707070;
  font-family: Serif;
  font-size: 45px;
}

.formLogin {
  background-color: white;
  border-radius: 40px;
  border-color: #707070;
  width: 400px;
  height: 50px;
  cursor: text;
  padding-left: 10px;
}

.loginButton {
  background-color: #8beae6;
  width: 200px;
  height: 60px;
  border-radius: 40px;
  border-color: transparent;
  font-size: 28px;
  float: right;
  cursor: pointer;
}

/*-----------------------------------*/
/*ListaDeDoentes.js && Patient.js*/
.fixedDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.listTitleText {
  color: #707070;
  font-family: Serif;
  font-size: 50px;
}

.inputPatients {
  background-color: white;
  border-radius: 40px;
  border-color: #707070;
  width: 60%;
  height: 80px;
  cursor: text;
  padding-left: 25px;
  font-size: 25px;
}

.listaPatientsDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.listaPatientsTable {
  border-radius: 40px;
  background-color: #f6f9f9;
  width: 60%;
  height: 600px;
  overflow-y: scroll;
  border: 1px solid #707070;
}

table {
  border-collapse: collapse;
  width: 100%;
  border-color: #707070;
}

th,
td {
  padding: 8px;
  text-align: center;
  border-bottom: 1px solid #ddd;
  font-size: 25px;
  cursor: pointer;
}

/*-----------------------------------*/

.generalInformationPanel1 {
  width: 100%;
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.generalInformationPanel2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  /*justify-content: center;*/
  padding-left: 1%;
  background-color: #f9f9f9;
  border: 2px solid black;
  border-radius: 30px;
  width: 100%;
  height: 98%;
}

.generalInformationExtra {
  display: flex;
  background-color: transparent;
  border: 2px solid transparent;
  border-top-left-radius: 60px;
  border-top-right-radius: 60px;
  width: 84%;
  height: 65%;
}

.personInformation {
  height: 100%;
  width: 41%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.personInformation2 {
  width: 87%;
  margin-left: 2%;
}

.patientData {
  font-size: 27px;
  color: #707070;
  margin-left: 1%;
}

.ocupation {
  font-size: 25px;
  margin-left: 1%;
}

.diagnosticosDiv {
  height: 100%;
  width: 54%;
  display: flex;
  align-items: center;
  justify-content: right;
}

.linhaDiagnosticos {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: right;
  width: 100%;
  height: 100%;
}

.diagnosticosItem {
  background-color: #e3f9f8;
  color: #707070;
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  height: 80%;
  width: 18%;
  border: 1px solid #707070;
  margin-left: 0.5%;
  margin-right: 0.5%;
}

.diagnosticosText {
  height: 100%;
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 15px;
}
.circle {
  background-color: #e3f9f8;
  border-radius: 50%;
  width: 3%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  margin-left: 1%;
}

.specificInformationPanel {
  display: flex;
  flex-direction: row;
  margin-top: 1%;
}

.menu {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 20%;
  height: 780px;
}

.menu2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  width: 75%;
  padding: 8px;
}

.buttonBig {
  background-color: white;
  border-radius: 10px;
  border: 1px solid #707070;
  width: 70%;
  height: 9%;
  margin: 1%;
  cursor: pointer;
  color: #707070;
  font-family: Arial;
  font-size: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttonLittle {
  background: transparent;
  border-radius: 10px;
  border: 1px solid #707070;
  width: 60%;
  height: 45px;
  cursor: pointer;
  margin: 1px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  color: #b7b7b7;
  font-size: 21px;
  padding: 5px;
}

.indicatores {
  width: 95%;
  height: 40px;
  background-color: #e3f9f8;
  border: 1px solid #707070;
  border-radius: 10px;
  color: #707070;
  font-family: Arial;
  font-size: 21px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  padding-left: 10px;
  margin: 7px;
}

.downArrow {
  height: 65%;
  transform: rotate(90deg);
  cursor: pointer;
}

.downArrow2 {
  height: 65%;
  transform: rotate(90deg);
  margin-right: 10px;
  margin-top: 4px;
  cursor: pointer;
}

.inspirer {
  height: 65%;
  margin-right: 10px;
  margin-top: 4px;
}

.info {
  height: 75%;
  cursor: pointer;
  padding-right: 10px;
}

.central {
  display: flex;
  width: 56%;
  height: 780px;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}

.notasGerais {
  background-color: #f8f9f9;
  border-radius: 20px;
  border: 1px solid #707070;
  width: 100%;
  height: 55%;
  display: flex;
  justify-content: center;
}

.centroInferior {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 45%;
  justify-content: space-between;
}

.exacerbacoes {
  background-color: #f8f9f9;
  border: 1px solid #707070;
  border-radius: 20px;
  margin-top: 2%;
  padding-right: 1%;
  width: 38%;
  height: 85%;
}

.exacerbacoesInfo {
  margin: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.ultima {
  font-size: 13px;
  color: #707070;
  padding-left: 15px;
}

.periodo {
  color: black;
  font-size: 23px;
  padding-left: 15px;
}

.square {
  width: 15%;
  background-color: white;
  border: 1px solid #707070;
  border-radius: 20%;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.carat {
  border: 1px solid #707070;
  width: 59%;
  height: 85%;
  border-radius: 20px;
  margin-top: 15px;
  background-color: #f8f9f9;
}

.carat2 {
  display: flex;
  flex-direction: row;
  height: 80%;
}

.graficosInicio {
  width: 60%;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.caratInfo {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.right {
  display: flex;
  align-items: center;
  border-color: #707070;
  width: 42%;
  height: 780px;
  flex-direction: column;
}

.medicacao {
  background-color: #f8f9f9;
  border-radius: 20px;
  border: 1px solid #707070;
  width: 95%;
  height: 55%;
}

.adesaoGlobal {
  border: 1px solid #707070;
  width: 95%;
  height: 38%;
  border-radius: 20px;
  margin-top: 15px;
  background-color: #f8f9f9;
}

.adesaoGlobal2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 80%;
}

.infoExtraPanel1 {
  display: flex;
  width: 100%;
}

.infoExtraPanel2 {
  background-color: white;
  border-left: 2px solid #707070;
  border-right: 2px solid #707070;
  border-bottom: 2px solid #707070;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  width: 84%;
  height: 700px;
  margin-left: 10.6%;
}

.infoLine {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 30%;
  margin-left: 4%;
  margin-right: 4%;
  margin-top: 1%;
}

.infoBlock {
  width: 28%;
}

.infoText {
  margin-left: 4%;
  margin-right: 4%;
  margin-top: 1%;
  font-size: 20px;
  color: #707070;
}

.sons {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.tableSoundsHeader {
  background-color: #175874;
  border: #707070 solid 1px;
  border-radius: 10px;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  width: 85%;
  margin-bottom: 1%;
  margin-top: 2%;
}

.lineSoundHeader {
  width: 20%;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 23px;
  color: white;
  border-right: 1px solid #dadada;
}

.lineSoundHeader2 {
  width: 55%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.tableSounds {
  background-color: white;
  border: #707070 solid 1px;
  border-radius: 10px;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  width: 100%;
}

.sonsInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 600px;
  width: 85%;
  overflow-y: scroll;
}

.circleSons {
  background-color: #e3f9f8;
  border-radius: 50%;
  width: 100%;
  height: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  margin-left: 50%;
}

.lineSound {
  width: 20%;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  color: #707070;
  border-right: 1px solid #dadada;
  padding-bottom: 15px;
}
.changeType {
  background-color: rgb(23, 88, 116);
  position: absolute;
  top: 23%;
  left: 45.5%;
  height: 20%;
  width: 16.1%;
  display: none;
  flex-direction: column;
  border-bottom: 1px solid white;
  border-right: 1px solid white;
  border-left: 1px solid white;
  border-bottom-left-radius: 5%;
  border-bottom-right-radius: 5%;
  box-shadow: 7px 5px 5px #707070;
}

.changeTypeLine {
  width: 100%;
  height: 33%;
  border-bottom: 1px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  color: white;
  cursor: pointer;
}

.tableMedicationHeader {
  border: #707070 solid 1px;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  margin-left: 1%;
  width: 98%;
}

.lineMedicationHeader {
  background-color: #175874;
  height: 35px;
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 1px solid #dadada;
  font-size: 15px;
  color: white;
}

.MedicationInfo {
  overflow-y: scroll;
  height: 75%;
}

.tableMedication {
  border: #707070 solid 1px;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  margin-left: 1%;
  width: 98%;
}

.lineMedication {
  width: 17%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 1px solid #dadada;
  font-size: 15px;
  color: black;
  margin-top: 2%;
  margin-bottom: 2%;
}

.tableMedication2 {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.lineMedication2 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 1px solid #dadada;
  font-size: 15px;
  color: black;
  margin-top: 2%;
  margin-bottom: 2%;
}

.adesaoPanel {
  display: flex;
  flex-direction: row;
  background-color: white;
  border: 1px solid #707070;
  border-radius: 1%;
  width: 95%;
  height: 770px;
}

.adesaoLeft {
  width: 65%;
  height: 100%;
}

.menuAdesao {
  height: 20%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}

.graficoAdesao {
  height: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.legendaAdesao {
  height: 20%;
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-items: right;
  float: right;
}

.legendaAdesao2 {
  height: 20%;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.buttonBigAdesao {
  background-color: white;
  border-radius: 10px;
  border: 1px solid #707070;
  width: 30%;
  height: 30%;
  margin: 1%;
  cursor: pointer;
  color: #707070;
  font-family: Arial;
  font-size: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.squadLegendaAdesao {
  width: 10%;
  height: 65%;
  background-color: red;
  margin-right: 3%;
}

.adesaoRight {
  width: 35%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.adesaoDivGraficoRight {
  width: 90%;
  height: 62%;
  margin-top: 7%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 150%;
  color: #707070;
}

.adesaoGraficoRight {
  position: relative;
  top: 20%;
  z-index: 0;
  width: 90%;
  height: 80%;
  margin-top: 7%;
  display: flex;
  justify-content: center;
}

.buttonSchedule {
  position: absolute;
  top: 6%;
  z-index: 1;
  background-color: white;
  border-radius: 10px;
  border: 1px solid #707070;
  width: 15%;
  height: 8%;
  margin-top: 10%;
  color: #707070;
  font-family: Arial;
  font-size: 26px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.periodosSchedule {
  background-color: white;
  border-radius: 10px;
  border: 1px solid #707070;
  width: 90%;
  height: 80%;
  margin-top: 10%;
  color: #707070;
  font-family: Arial;
  font-size: 26px;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.periodosSchedule2 {
  background-color: white;
  border-radius: 10px;
  border: 1px solid #707070;
  width: 90%;
  height: 17%;
  color: #707070;
  font-family: Arial;
  font-size: 23px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.filtroDiv {
  display: flex;
  height: 18%;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.medicacaoPanel {
  display: flex;
  flex-direction: row;
  background-color: white;
  border: 1px solid #707070;
  border-radius: 1%;
  width: 95%;
  height: 770px;
}

.caratPanel {
  display: flex;
  flex-direction: row;
  background-color: white;
  border: 1px solid #707070;
  border-radius: 1%;
  width: 95%;
  height: 770px;
}

.caratLeft {
  width: 65%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.caratRight {
  width: 35%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.graficoCarat {
  width: 90%;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid red;
}

.menuCarat {
  height: 20%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}

.buttonBigCarat {
  background-color: white;
  border-radius: 10px;
  border: 1px solid #707070;
  width: 30%;
  height: 30%;
  margin: 1%;
  cursor: pointer;
  color: #707070;
  font-family: Arial;
  font-size: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.eventosPanel {
  display: flex;
  flex-direction: row;
  background-color: white;
  border: 1px solid #707070;
  border-radius: 1%;
  width: 95%;
  height: 770px;
}

.eventosLeft {
  width: 65%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.eventosRight {
  width: 35%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.graficoEventos {
  width: 90%;
  height: 85%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.graficoEventos2 {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.graficoEventosDiv {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.graficoEventosLegendaCores {
  display: flex;
  width: 5%;
  height: 90%;
  flex-direction: column;
}
.legendaCor {
  width: 100%;
  height: 21%;
}

.graficoEventosLegenda {
  width: 17%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 1%;
}

.graficoPontosEventos {
  width: 75%;
  height: 90%;
  display: flex;
  margin-top: 7%;
  margin-left: 1%;
}
.infoEventos {
  position: relative;
  top: 20%;
  z-index: 0;
  width: 70%;
  height: 60%;
  border: 1px solid #707070;
  border-radius: 4%;
  margin-top: 5%;
  padding: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial;
  font-size: 26px;
}

.estadoPanel {
  display: flex;
  flex-direction: row;
  background-color: white;
  border: 1px solid #707070;
  border-radius: 1%;
  width: 95%;
  height: 770px;
}

.estadoLeft {
  width: 65%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.estadoRight {
  width: 35%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.graficoEstado {
  width: 90%;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid red;
}

.ginaPanel {
  display: flex;
  flex-direction: row;
  background-color: white;
  border: 1px solid #707070;
  border-radius: 1%;
  width: 95%;
  height: 770px;
}

.ginaLeft {
  width: 65%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ginaRight {
  width: 35%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.graficoGina {
  width: 90%;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.legendaGina {
  height: 25%;
  width: 65%;
  display: flex;
  flex-direction: column;
}

.legendaGina2 {
  height: 20%;
  width: 100%;
  display: flex;
  flex-direction: row;
  font-size: 120%;
  margin-bottom: 1%;
}

.circleLegendaGina {
  background-color: #fe2f2e;
  border-radius: 50%;
  width: 7%;
  height: 70%;
  margin-right: 3%;
}

.sonoPanel {
  display: flex;
  flex-direction: row;
  background-color: white;
  border: 1px solid #707070;
  border-radius: 1%;
  width: 95%;
  height: 770px;
  font-size: 140%;
  color: #707070;
}

.sonoLeft {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border-right: 1px solid #707070;
}

.sonoRight {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 120%;
}

.sonoData {
  width: 95%;
  height: 15%;
  display: flex;
  align-items: center;
  flex-direction: row;
}

.sonoChooseData {
  width: 60%;
  height: 50%;
  border: 1px solid #707070;
  border-radius: 6%;
  margin-left: 3%;
  font-size: 20px;
}

.sonoDormir {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 95%;
  height: 30%;
}

.graficoComoDormiu {
  width: 95%;
  height: 50%;
  margin-left: 3%;
  margin-top: 1%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sonoLegenda {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 16px;
}

.graficoComoDormiuAsma {
  width: 95%;
  height: 50%;
  margin-left: 3%;
  margin-top: 1%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.sonoAsma {
  width: 95%;
  height: 25%;
}

.sonoSonolento {
  width: 95%;
  height: 25%;
}

.graficoSonolento {
  width: 95%;
  height: 60%;
  margin-left: 3%;
  margin-top: 1%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.qualidadeSono {
  width: 95%;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sonolencia {
  width: 95%;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.graficoRight {
  width: 60%;
  height: 70%;
  border: 1px solid red;
}
