.body {
  background-repeat: no-repeat;
  background-image: url("./img/Background.jpg");
  background-color: #e6e7e9;
  background-size: 70vw, 70vh;
  width: 100%;
  height: 100%;
}

.body-transparent {
  background-repeat: no-repeat;
  background-image: url("./img/Background2.png");
  background-color: #f6f7f7;
  background-size: 70vw, 70vh;
  width: 100%;
  height: 100%;
}

/*-------------------------------------------*/
/*Login.js*/
.titleDiv {
  height: 400px;
  width: 100%;
  align-items: center;
  justify-content: right;
  display: flex;
}

.titleText {
  font-size: 120px;
  font-weight: 600;
  color: #707070;
  font-family: Serif;
  position: absolute;
  right: 5%;
}

.loginDiv {
  height: 70%;
  width: 100%;
  align-items: center;
  justify-content: right;
  flex-direction: column;
  display: flex;
}

.loginDivForm {
  position: absolute;
  right: 5%;
}

.textLoginForm {
  color: #707070;
  font-family: Serif;
  font-size: 45px;
}

.formLogin {
  background-color: white;
  border-radius: 40px;
  border-color: #707070;
  width: 400px;
  height: 50px;
  cursor: text;
  padding-left: 10px;
}

.loginButton {
  background-color: #8beae6;
  width: 200px;
  height: 60px;
  border-radius: 40px;
  border-color: transparent;
  font-size: 28px;
  float: right;
  cursor: pointer;
}

/*-----------------------------------*/
/*ListaDeDoentes.js && Patient.js*/
.fixedDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.listTitleText {
  color: #707070;
  font-family: Serif;
  font-size: 50px;
}

.inputPatients {
  background-color: white;
  border-radius: 40px;
  border-color: #707070;
  width: 60%;
  height: 80px;
  cursor: text;
  padding-left: 25px;
  font-size: 25px;
}

.listaPatientsDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.listaPatientsTable {
  border-radius: 40px;
  background-color: #f6f9f9;
  width: 60%;
  height: 600px;
  overflow-y: scroll;
  border: 1px solid #707070;
}

table {
  border-collapse: collapse;
  width: 100%;
  border-color: #707070;
}

th,
td {
  padding: 8px;
  text-align: center;
  border-bottom: 1px solid #ddd;
  font-size: 25px;
  cursor: pointer;
}

/*-----------------------------------*/

.generalInformationPanel1 {
  width: 100%;
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.generalInformationPanel2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 15px;
  padding-right: 30px;
  background-color: #f9f9f9;
  border: 2px solid black;
  border-radius: 30px;
  width: 100%;
  height: 98%;
}

.generalInformationExtra {
  display: flex;
  background-color: transparent;
  border: 2px solid transparent;
  border-top-left-radius: 60px;
  border-top-right-radius: 60px;
  width: 84%;
  height: 65%;
}

.personInformation {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.personInformation2 {
  width: 87%;
  margin-left: 20px;
}

.patientData {
  font-size: 27px;
  color: #707070;
  margin-left: 25px;
}

.ocupation {
  font-size: 25px;
  margin-left: 25px;
}

.circle {
  background-color: #e3f9f8;
  border-radius: 50%;
  width: 3.2%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: right;
  border: 1px solid black;
  margin-left: 30%;
}

.specificInformationPanel {
  display: flex;
  flex-direction: row;
  margin-top: 25px;
}

.menu {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 20%;
  height: 740px;
  padding-top: 3%;
}

.menu2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  width: 75%;
  padding: 8px;
}

.buttonBig {
  background-color: white;
  border-radius: 10px;
  border: 1px solid #707070;
  width: 70%;
  height: 70px;
  margin: 1%;
  cursor: pointer;
  color: #707070;
  font-family: Arial;
  font-size: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttonLittle {
  background: transparent;
  border-radius: 10px;
  border: 1px solid #707070;
  width: 60%;
  height: 45px;
  cursor: pointer;
  margin: 1px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  color: #b7b7b7;
  font-size: 25px;
  padding: 5px;
}


.indicatores {
  width: 95%;
  height: 40px;
  background-color: #e3f9f8;
  border: 1px solid #707070;
  border-radius: 10px;
  color: #707070;
  font-family: Arial;
  font-size: 21px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  padding-left: 10px;
  margin: 7px;
}

.downArrow {
  height: 65%;
  transform: rotate(90deg);
  margin-right: 10px;
  margin-top: 4px;
  cursor: pointer;
}

.inspirer {
  height: 65%;
  margin-right: 10px;
  margin-top: 4px;
}

.info {
  height: 75%;
  cursor: pointer;
  padding-right: 10px;
}

.central {
  display: flex;
  width: 55%;
  flex-direction: column;
}

.centroInferior {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.exacerbacoes {
  background-color: #f8f9f9;
  border: 1px solid #707070;
  border-radius: 20px;
  margin-top: 2%;
  padding-right: 1%;
  width: 38%;
}

.exacerbacoesInfo {
  margin: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.ultima {
  font-size: 13px;
  color: #707070;
  padding-left: 15px;
}

.periodo {
  color: black;
  font-size: 23px;
  padding-left: 15px;
}

.square {
  width: 15%;
  background-color: white;
  border: 1px solid #707070;
  border-radius: 20%;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.carat {
  border: 1px solid #707070;
  width: 59%;
  border-radius: 20px;
  margin-top: 15px;
  background-color: #f8f9f9;
}

.carat2 {
  display: flex;
  flex-direction: row;
}

.graficosInicio {
  width: 60%;
  justify-content: center;
  align-items: center;
  height: 20vh;
}

.caratInfo {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.notasGerais {
  background-color: #f8f9f9;
  border-radius: 20px;
  border: 1px solid #707070;
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: center;
}

.medicacao {
  display: flex;
  align-items: center;
  border-color: #707070;
  width: 40%;
  flex-direction: column;
}

.medicacao2 {
  background-color: #f8f9f9;
  border-radius: 20px;
  border: 1px solid #707070;
  width: 95%;
  height: 400px;
}

.adesao {
  border: 1px solid #707070;
  width: 95%;
  border-radius: 20px;
  margin-top: 15px;
  background-color: #f8f9f9;
}

.adesao2 {
  display: flex;
  flex-direction: row;
}

.infoExtraPanel1 {
  display: flex;
  width: 100%;
}

.infoExtraPanel2 {
  background-color: white;
  border-left: 2px solid #707070;
  border-right: 2px solid #707070;
  border-bottom: 2px solid #707070;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  width: 84%;
  height: 700px;
  margin-left: 10.6%;
}

.infoLine {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 30%;
  margin-left: 4%;
  margin-right: 4%;
  margin-top: 1%;
}

.infoBlock {
  width: 28%;
}

.infoText {
  margin-left: 4%;
  margin-right: 4%;
  margin-top: 1%;
  font-size: 20px;
  color: #707070;
}

.sons {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.tableSoundsHeader {
  background-color: #175874;
  border: #707070 solid 1px;
  border-radius: 10px;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  width: 85%;
  margin-bottom: 15px;
}

.lineSoundHeader {
  width: 20%;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 23px;
  color: white;
  border-right: 1px solid #dadada;
}

.tableSounds {
  background-color: white;
  border: #707070 solid 1px;
  border-radius: 10px;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  width: 100%;
}

.sonsInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 600px;
  width: 85%;
  overflow-Y: scroll;
}

.lineSound {
  width: 20%;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  color: #707070;
  border-right: 1px solid #dadada;
  padding-bottom: 15px;
}

.tableMedicationHeader {
  border: #707070 solid 1px;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  margin-left: 1%;
  width: 98%;
}

.lineMedicationHeader {
  background-color: #175874;
  height: 35px;
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 1px solid #dadada;
  font-size: 15px;
  color: white;
}


.MedicationInfo {
  overflow-y: scroll;
  height: 75%;
}

.tableMedication {
  border: #707070 solid 1px;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  margin-left: 1%;
  width: 98%;
}

.lineMedication {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 1px solid #dadada;
  font-size: 15px;
  color: black;
  margin-top: 2%;
  margin-bottom: 2%;
}

.tableMedication2 {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.lineMedication2 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 1px solid #dadada;
  font-size: 15px;
  color: black;
  margin-top: 2%;
  margin-bottom: 2%;
}